

:root {
	--primary-white: #ffffff;
	--primary-dark: rgba(255, 255, 255, 0);
	--secondary-sky-blue: #00ffd5;
  }
  
  
  body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  
  /************** NAVBAR **************/
  
  .logo {
	/* font-size: 16.25rem !important; */
	width: 14rem;
	font-size: 1.8rem !important;
	color: var(--primary-white) !important;
	font-weight: bold;
	text-transform: uppercase;
  
  }
  
  /* ************ NAV LINKS **********/
  nav a.nav-link {
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 0.0375rem;
	cursor: pointer;
  }
  
  nav ul li {
	text-transform: uppercase;
  }
  .navbar-nav > li > a {
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	/* color: var(--primary-white) !important; */
	color: var(--secondary-sky-blue) !important;
	border-bottom: 0.1875rem solid var(--primary-dark) !important;
  }
  
  .navbar-brand {
	/* background-color: #00ffd5; */
	max-width: 17.25rem;
	padding: 0 !important;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  
  .navbar-toggler{
	background-color: var(--primary-white) !important;
  }
  
  
  .navbar-nav > li > a:active, .navbar-nav > li > a.active:focus{
	border-bottom: 0.1875rem solid var(--secondary-sky-blue) !important;
	
  }
  
  .navbar-nav > li > a:hover{
	border-bottom: 0.1875rem solid var(--secondary-sky-blue) !important;
  
  }
  
  